@import url("color_pallette.css");

header{
    background-color: var(--bg);
    display: flex;
    position:fixed;
    z-index: 100;
    width: 100%;
}
#tabs{
    display: flex;
    float :right;
    
    margin-left: auto; 

}
hr{
    
    background-color:  var(--highlight1);
}
.sections{
    
    min-width: 100px;
    height: 100%;
    
    text-align: center;
    background-color: var(--bg_secondary);
    margin-left: 5px;
}
@font-face {
    font-family: NeoMatrixCode;
    src: url("../misc/fonts/NeomatrixCode.ttf");
}
html{
    height: 240%;
    animation: "bg_anim" 36s linear infinite ;
    background:repeat url("../misc/pattern.png")
    , linear-gradient(180deg, var(--bg_secondary) 0%, var(--bg) 75%, var(--bg) 90%);
    image-rendering:pixelated;
}
body
{
    padding: 0;
    margin: 0;
    height: fit-content;
    width: 85%;


    color: var(--text);
    font-family: "neomatrix code";

    display: grid;
    grid-template-rows: auto auto auto;
}
a{
    text-decoration: underline;
    text-decoration-color: var(--highlight1);
    text-decoration-thickness: 5px;
    text-underline-offset: -2px;
    text-decoration-skip-ink:none;
    text-decoration-color: var(--highlight2);
    color: inherit;
}
a:hover{
    text-decoration-thickness: 20px;
    text-underline-offset: -15px;
}
h1{
    color: var(--text);
    background-color: var(--highlight2);
    border-radius: 1%;
    border: 2px solid var(--highlight2);
    font-size:150%;
    font-weight: bolder;
    width: fit-content;
}

#me{
    color: var(--highlight1);
    background-color: var(--bg_secondary);

    height: 64px;
    letter-spacing: 6px;
    font-weight: bolder;
    font-size: 90%;

    float: Left;
    
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-left: 10%;
}
#me h1{
    border: none;
    background-color: #00000000;
    color : var(--highlight1);
    font-size: x-large;
    margin: 2.5%;
    font-size: 300%;
    font-family: "neomatrix code";
    font-weight: bolder;
    width: fit-content;
}
/*#me img{
    height: 100%;
    border: none;
}*/
#aboutme{
    position: relative;
    width: 120%;

    float: left;

    font-size:150%;

    margin: 2%;

    margin-top: 12%;
    margin-bottom: 0;

    background-color: var(--bg_secondary);
    border: 2px solid var(--highlight2);
    border-radius: 5px;
    padding-left: 1%;
    padding-bottom: 3%;

}
#vector{
    float: right;
    margin-top: 11%;
    margin-right: -.5%;
    margin-left: -15%;
    width: 25%;
    right: -12%;
    position: relative;
}
#vector figure{
    width: 100%;
}
#vector img{
    width: 99%;
}
main{
    display: flex;
    justify-content: 10px;
    margin-bottom: 5%;
    margin-top: 0;
    height: 63%;

    margin-bottom: -11.5%;
}
.projects{
    background-color: var(--bg);
    height: 100%;
    float: left;

    width: 100%;

    background-color: var(--bg_secondary);
    border: 2px solid var(--highlight2);
    border-radius: 5px;
    margin: 2%;
    margin-left: 0%;
    margin-right: -15%;
    margin-top: 2%;
    padding-left: 2%;
    padding-bottom: 6%;
}
.projects p{
    text-align: justify;
    width:200%;
}
.projects h2{
    width: 100%;
    text-align: left;
    font-size:x-large;
}
nav{
    width: 15%;
    height: 100%;

    margin: 2%;
    margin-right: 4%;
    margin-top: 2%;
}
#Socials{
    height:100%;

    background-color: #00000000;
    border: 2px solid var(--highlight2);
    border: none;
    border-radius: 5px;
    padding-left: 50%;
    
    padding-left: 35%;
    margin-top: 5%;

    font-weight: bold;
    font-size: large;
}
#pfp{
    height: 47.4%;
    padding: 0;
    background-color: var(--bg_secondary);
    height: fit-content;
    border: 5px solid var(--highlight2);
    border-radius: 180px;

}

#pfp img{
    border-radius: 180px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0
}

.proj_sec{
    width: fit-content;
    height: 480px;
    margin-top: 0;

    display: inline-grid;
    grid-template-columns: 29% 25%;
    grid-template-rows: 40% auto;
}

.text{
    position: relative;
    display: block;
    width: 100%;
    text-align: justify;
    text-wrap-style: stable;
    text-overflow: ellipsis;
    margin-right: 0;
    margin: 0;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1 ;
    grid-row-end: 2;
}
.tools{
    opacity: .6;
    
    position: relative;
    display: block;
    float: none;
    background-color: var(--bg);
    border-radius: 12%;
    width: 25%;

    height: fit-content;
    width: fit-content !important;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2 ;
    grid-row-end: 3;
}

.img_left{
    display: block;
    float:left;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
    padding-top: 0;

    width: 45%;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:1 ;
    grid-row-end: 2;
}

@keyframes tabs_up {
    0%{
        transform: translateY(0);
        background-color: var(--bg_secondary);
    }
    100%{
        transform: translateY(100%);
        background-color: var(--bg);
    }
}
@keyframes tabs_down {
    0%{
        transform: translateY(100%);
        background-color: var(--bg);
    }
    100%{
        transform: translateY(0);
        background-color: var(--bg_secondary);
    }
}
@keyframes bg_anim {
    0%{
        background-position: 0% 0%;
        /* transform: rotate(0deg); */
    }

    100%{
        background-position: 90% 160%;
        /* transform: rotate(360deg); */
    }
}
img{
    display: block;
    border: 2px solid var(--highlight1);
    border-radius: 2px;
}.img_right{
    float:right;
    margin-left: 2.5%;
}
.text{
    word-wrap: break-word;
}

#Projects{
    overflow: hidden;
    overflow-x:scroll;
    /* white-space: nowrap; */
    height:75%;
    text-wrap: nowrap;
    position: sticky;
    display: inline-block;
    width: 92%;
    /* clear: both; */
}
#Projects div{
    margin-right: -21%;
    position: relative;
    width: 75%;
    margin-left: 0%;
    padding: 0%;
    text-wrap:wrap;
}

.scrollers{ /*this represents the 2 button for scrolling*/
    position: relative;
    z-index: 1;
    height: 72.5%;

    mix-blend-mode:soft-light;
    background-color: rgba(50, 50, 70, 70);
    color:var(--text);
    border-width: 0;
    padding: 5px;
    width: 4%;
}
#HScrollR{
    float: right;
    right: 0%;
}
#HScrollL{
    float: left;
    left: 0%;
}
#Projects i{
    font-size:x-large;
}
#filler{
    display:block;
    float: none;
    
    background-color: var(--bg_secondary);
    border: 2px solid var(--highlight2);
    border-radius: 5px;
    margin: 2%;
    margin-top: 0;
    margin-right: -15%;
    padding-left: 2%;
    padding-bottom: 2%;
}

.tools strong{
    color: var(--highlight1);
    font-size: larger;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
  text-wrap-mode: nowrap;
}

.tooltip .tooltiptext {
  visibility: hidden;
  padding: 0.25em 0.5em;
  background-color:var(--bg-secondary);
  color: var(--text);
  text-align: center;
  border-radius: 0.25em;
  white-space: nowrap;
  border-color: var(--highlight2);
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 100%;
  transition-property: visibility;
  transition-delay: 0s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  transition-delay: 0.1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: var(--bg_secondary) transparent transparent transparent;
}

.showcase_img{
    height: 256px;
    float: left;
    border-radius: 1%;
    border: 2px solid var(--highlight2);
    margin: 0%;
    box-shadow:5px red ;
}

.showcaser{
    display: inline-block;
}

ol, ul{
    margin-top: 0;
    padding-top: 0;
}
strong{
    margin-bottom: 0;
    padding-bottom: 0;
    background-image: linear-gradient(-90deg ,#92c1fd, #c7bcfd);
    color: transparent;
    background-clip: text;
    font-weight: 600;
    font-size: large;
}
em{
    font-size: 90%;
    color: #c7bcfd;
}

.extern_link{
    text-decoration-color: #8d3560 !important;
}